<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survived Titanic?</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  {% if result %}
    <div id="result">
        <p>{{ result }}</p>
    </div>  
  {% endif %}
  <form action="/process_form" method="post">
    <p>
      <label for="sex">Sex</label><br>
      <select id="sex" name="sex">
        <option value="1">Female</option>
        <option value="0">Male</option>
      </select><br>
    </p>
    <p>
      <label for="cabin">Cabin</label><br>
      <select id="cabin" name="cabin">
        <option value="1">I'd have had a cabin</option>
        <option value="0">Nah</option>
      </select><br>
    </p>
    <p>
      <label for="age">Your age</label><br>
      <input type="number" name="age" id="age" min="0" max="100" required><br>
    </p>
    <p>
      <label for="fare">How much would you pay?</label><br>
      <input type="number" name="fare" id="fare" min="0" max="300" required><br>
    </p>
    <div>
      <input type="submit" value="Let's go">
    </div>
  </form>
</body>
</html>